* {
	box-sizing: border-box;

	&:before,
	&:after {
		box-sizing: border-box;
	}
}

body {
	min-width: 320px;
	font-family: Lora, sans-serif;
}

.wrapper {
	max-width: 1200px;
	margin-right: auto;
	margin-left: auto;
	padding-right: 15px;
	padding-left: 15px;
}

h1 {
	margin-bottom: 17px;
	font-family: Raleway, sans-serif;
	font-size: 60px;
	font-weight: bold;
}

h2 {
	color: $color-mine-shaft;
	font-size: 36px;
	font-style: italic;
	font-weight: bold;
}
