$color-alto: #dddddd;
$color-tundora: #444444;
$color-alabaster: #f7f7f7;
$color-dove-gray: #666666;
$color-mine-shaft: #333333;
$color-keppel: #3bb18f;
$color-amber: #ffbf00;
$color-dusty-gray: #999999;

