.header {
	color: $color-dusty-gray;

	&__topbar-wrapper {
		@extend .wrapper;
		display: flex;
		justify-content: space-between;
	}

	&__topbar {
		min-height: 40px;
		border-bottom: 1px solid $color-alto;

		&-text {
			padding: 15px 0;
		}

		&-items {
			display: flex;
			justify-content: space-between;
		}
	}

	&__navigation {
		border-bottom: 1px solid $color-alto;

		&-wrapper {
			@extend .wrapper;
			align-items: center;
			display: flex;
			justify-content: space-between;
			min-height: 120px;
		}
	}
}
