.select {
	position: relative;
	padding: 0 40px 0 23px;
	border-right: 1px solid $color-alto;
	text-transform: uppercase;

	&:last-child {
		border: 0;
		text-transform: capitalize;
	}

	&:hover {
		border-right: 1px solid $color-alto;
		background: $color-alabaster;
	}

	&__options-container {
		display: none;
		position: absolute;
		left: 0;
		min-width: 100%;
		border-right: 1px solid $color-alto;
		border-bottom: 1px solid $color-alto;
		background: $color-alabaster;
		text-align: center;
		box-sizing: content-box;

		.select:hover & {
			display: block;
		}
	}

	&__label {
		position: relative;
		padding: 15px 0;

		&::after {
			position: absolute;
			right: -20px;
			bottom: 15px;
			border: 4px solid transparent;
			border-top: 4px solid $color-dusty-gray;
			content: '';
		}
	}
}
